@model OnlineLibrary.Models.Book

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Details</h1>

<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Author</h6>
        <p class="card-text">@Model.Description</p>
        @if (!string.IsNullOrEmpty(Model.FilePath))
        {
            <a href="@Url.Content($"~/{Model.FilePath}")" class="btn btn-primary">Download</a>
        }
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning ms-2">Edit</a>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку книг</a>
</div>
