@model PaginatedList<OnlineLibrary.Models.Book>

@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Books</h2>

<div class="row m-5">
    @foreach (var book in Model)
    {
        <div class="col-md-4 mb-4" style="height: 400px">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@book.Author</h6>
                    <p class="card-text">@book.Description</p>
                    <div class="mt-auto">
                    @if (!string.IsNullOrEmpty(book.FilePath))
                    {
                        <a href="@Url.Content($"~/{book.FilePath}")" class="btn btn-primary">Download</a>
                    }
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning ms-2">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<nav class="m-5">
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
        }
    </ul>
</nav>

<div style="height: 50px">
</div>
